# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries used for Data Science
* List Open Source Data Science Tools
* Evaluating Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. Keras
4. PyTorch
5. Scikit-learn

| Data Science Tools |
|--------------------|
| Apache Spark       |
| Apache Hadoop      |
| TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
## This a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [20]:
## This will convert 200 minutes to hours by diving by 60
t_min = 200
t_hrs = t_min/60
print("Time in hours = ", t_hrs)

Time in hours =  3.3333333333333335

## Author
R S Vivek Menon